<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NewBilletterie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-NewBilletterie-20160310173713;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-NewBilletterie-20160310173713.mdf"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>
    </httpHandlers>
    <customErrors defaultRedirect="https://testenquiries.cipc.co.za/GenericError.aspx" mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0" validateRequest="true">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <compilation targetFramework="4.8" debug="true">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" defaultUrl="~/"/>
    </authentication>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" timeout="60" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
    <httpRuntime executionTimeout="9999" maxRequestLength="2097151"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <remove name="AjaxFileUploadHandler"/>
      <add name="ChartImageHandler" preCondition="" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="AjaxFileUploadHandler" verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Index.aspx"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="334217728"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    
    <add key="LoginAttempts" value="3"/>
    <add key="CreateOPT" value="true"/>
    <add key="SendOnDemandOPT" value="true"/>

    <!-- PRODUCTION NEW Environment 
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/Temp/;"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="ExtendedCommandTimeout" value="120"/>
    <add key="serviceKey" value="65c300fa0b9accbdb4f5af0417d3c129"/>
    <add key="MinUserSearchLength" value="3"/>
    <add key="MaxSLAHours" value="720"/>
    <add key="MaxUploadSize" value="8388608"/>
    <add key="MaxUploadFiles" value="5"/>
    <add key="RequireBankDetails" value="true"/>
    <add key="MinRefundAmount" value="10"/>
    <add key="CBRSRelaxedDays" value="60"/>
    <add key="TopAccountValue" value="20"/>
    <add key="MinimumApprovals" value="2"/>
    <add key="FinanceTurnAround" value="10"/>
    <add key="ERMSTopLimit" value="100"/>
    <add key="ERMSAdminAccountsOFC" value="1;67;143;539;533;94;578"/>
    <add key="ReportViewersOFC" value="1;67;456;533;539;456;143;94;42;150;35;24;74;165;73;75;45"/>
    <add key="TestingUsers" value=""/>
    <add key="AllowDisableNewTickets" value="true"/>
    <add key="DeleteTemporaryDocuments" value="false"/>
    <add key="CheckERMSBalance" value="false"/>
    <add key="SendRefundEmail" value="true"/>
    <add key="AllowDomainAccount" value="false"/>
    <add key="AccountDomainPrefix" value="CIPROZA"/>
    <add key="CreateRefundTicket" value="true"/>
    <add key="ReinstateFunds" value="true"/>
    <add key="RefundSubject" value="CIPC Customer Account Refund "/>
    <add key="OTPSubject" value="CIPC Customer Account OTP Confirmation "/>
    <add key="CBRSWarningMessage" value="CIPC now uses this option to request and process all finance refunds. Please NOTE that you are not obliged to complete this form if you do not require a refund. You will be required to provide supporting documents that prove legitimacy of the funds being requested for refund."/>
    <add key="CBRSCustomerDetailHeading" value="You are encouraged to use this process to request refunds as it is quicker to verify and process the transaction "/>
    <add key="CBRSBottomMessage" value="NOTE: Refunds requested via ticket creation will not be processed. Ticket creation under Finance department will be allowed for other finnce queries other than refund requests. "/>
    <add key="FinanceCBRSCAT_PKID" value="467"/>
    <add key="CBRSDefaultTicket" value="Refund request from my CIPC Account. Initial refund amount as displayed the system is "/>

    <add key="BillAPIUSR" value="DQXz1oCUWCX3WlnuODOjoA=="/>
    <add key="BillAPIPWD" value="QS1savJJAN1XckLBKXAS8TopMmJpAqo8cWKE7Sl8S2CsFzxtYNu3xUA8+6ozDa9u"/>

    <add key="ClosedStatusCodes" value="5,6,7,8"/>
    <add key="Timeout" value="240000"/>
    <add key="DefaultPasswordLength" value="6"/>
    <add key="GridSessionLength" value="30"/>
    <add key="GridReFetchLimit" value="100"/>
    <add key="BulkResponseLimit" value="100"/>
    <add key="RootPublicURL" value="https://testenquiries.cipc.co.za/"/>
    <add key="RootLocalURL" value="https://testqrs.cipc.co.za/"/>
    <add key="LocalIPAddress" value="testqrs.cipc.co.za"/>
    <add key="LocalIPAddressAD" value="testqrsad.cipc.co.za"/>

    <add key="Subject" value="CIPC Help Desk"/>

    <add key="DefaultUserOffice" value="1"/>
    <add key="DefaultTitle" value="CIPC Online Query Management"/>
    <add key="OrganisationNameTop" value="CIPC"/>
    <add key="OrganisationName" value="CIPC"/>
    <add key="SystemTitle" value="Online Query Management"/>
    <add key="SloganText" value="the faster way to be heard"/>
    <add key="MainLogoPath" value="~/Images/logo2.png"/>
    <add key="MainLogoWidth" value="111"/>
    <add key="FixMainLogoWidth" value="false"/>
    <add key="MainLogoHeight" value="120"/>
    <add key="MobileLogoHeight" value="55"/>
    <add key="ShowFooterLine" value="true"/>
    <add key="AdminContact" value="+27123945037 or nthugwana@sword-sa.com"/>
    <add key="FooterLine" value="Companies and Intellectual Property Commission / &lt;a href='https://www.cipc.co.za/?page_id=11883' target='_blank'&gt;Terms and Conditions&lt;/a&gt; / &lt;a href='https://www.cipc.co.za/?page_id=10452' target='_blank'&gt; Disclaimer &lt;/a&gt;."/>
    <add key="CIPCLogoURL" value="E:\BilletterieX\Images\CIPCLogo.jpg"/>
    <add key="WaterMarkLogoURL" value="E:\BilletterieX\Images\global-bg.png"/>
    <add key="ResolveTimeNotation" value="minutes"/>
    <add key="WaterMarkText" value="FOR OFFICE USE ONLY"/>
    <add key="docFooterLine1" value="ISO 9001: 2008 Certified"/>
    <add key="docFooterLine2" value="The dtiCampus (Block F - Entfutfukweni), 77 Meintjies Street, Sunnyside, Pretoria l P O Box 429, Pretoria, 0001"/>
    <add key="docFooterLine3" value="Tel: +27 12 394 9973 | Fax: +27 12 394 1015 | Call Centre: 086 100 2472"/>
    <add key="docFooterLine4" value="Website:www.cipc.co.za"/>
    <add key="ShowCopyrightLine" value="true"/>
    <add key="CopyrightLine1" value="Copyright © 2015 - "/>
    <add key="CopyrightLine2" value=" &lt;a href='https://billetteriesoftware.com/' target='_blank'&gt; Billetterie PSA&lt;/a&gt; is a &lt;a href='http://www.sword-sa.com/' target='_blank'&gt;Sword SA&lt;/a&gt; product."/>
    <add key="ShowAccountCreationLink" value="true"/>
    <add key="AccountCreationURL" value="http://eservices.cipc.co.za/Customer_register_id.aspx"/>
    <add key="MainCSSPath" value="~/Styles/officeStyleSheetCIPC.css"/>
    <add key="MainMobileCSSPath" value="~/Styles/mobileStyleSheetCIPC.css"/>
    <add key="MainThemeBackColor" value="#2E6373"/>
    <add key="ButtonBackColor" value="#2E6373"/>
    <add key="ButtonForeColor" value="white"/>
    <add key="GlobalMailWSURL" value="https://ipmanual.cipc.co.za/CommunicationServices/EmailService.asmx"/>
    <add key="GenerateCaseForm" value="false"/>
    <add key="UseInternalAccountLink" value="false"/>
    <add key="UseDefaultLabels" value="true"/>
    <add key="ExternalResetPassword" value="false"/>
    <add key="btnNewTicketText" value="New Ticket"/>
    <add key="btnNewOfficeTicketText" value="New Ticket"/>
    <add key="btnViewTicketsText" value="View Tickets"/>
    <add key="btnViewOfficeTicketsText" value="View Tickets"/>
    <add key="btnAdministrationText" value="Administration"/>
    <add key="btnReportsText" value="Reports"/>
    <add key="btnFAQAdminText" value="FAQs"/>
    <add key="btnFAQText" value="FAQs"/>
    <add key="btnMobileViewText" value="Mobile View"/>
    <add key="litCreateNewText" value="New Ticket"/>
    <add key="litViewTicketsText" value="View Tickets"/>
    <add key="displayCategoryToolTip" value="true"/>
    <add key="GetPtolemyUsers" value="false"/>
    <add key="GetERMSUsers" value="true"/>
    <add key="GetCUBAUsers" value="false"/>
    <add key="GetBilltterieOfficers" value="true"/>
    <add key="AutoAssignDueDate" value="true"/>
    <add key="AutoSynchUsers" value="true"/>
    <add key="MailNotifications" value="false"/>
    <add key="SendAutoAssignEmail" value="false"/>
    <add key="SendEmailOnDemand" value="false"/>
    <add key="LogSentEmails" value="true"/>
    <add key="RecordUserLogs" value="true"/>
    <add key="GetCalculatedDates" value="true"/>
    <add key="FindClientDetails" value="true"/>
    <add key="AddExternalUsers" value="false"/>
    <add key="ShowUserGroup" value="false"/>
    <add key="ShowFAQSideBar" value="true"/>
    <add key="DefaultToAdmin" value="false"/>
    <add key="DefaultHideAssigned" value="true"/>
    <add key="ShowPublicPasswordReset" value="false"/>
    <add key="UseActiveDirectory" value="true"/>
    <add key="PasswordResetCategory" value="349"/>
    <add key="ForceHTTPS" value="false"/>
    <add key="CallCenterPKID" value="272"/>
    <add key="TestParameters" value=""/> -->
    
    <!-- TEST Connection strings CIPC EFILE TEST Cluster Environment NEW Environment -->
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/Temp/;"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="ExtendedCommandTimeout" value="120"/>
    <add key="serviceKey" value="65c300fa0b9accbdb4f5af0417d3c129"/>
    <add key="MinUserSearchLength" value="3"/>
    <add key="MaxSLAHours" value="720"/>
    <add key="MaxUploadSize" value="8388608"/>
    <add key="MaxUploadFiles" value="5"/>
    <add key="RequireBankDetails" value="true"/>
    <add key="MinRefundAmount" value="10"/>
    <add key="CBRSRelaxedDays" value="60"/>
    <add key="TopAccountValue" value="20"/>
    <add key="MinimumApprovals" value="2"/>
    <add key="FinanceTurnAround" value="10"/>
    <add key="ERMSTopLimit" value="100"/>
    <add key="ERMSAdminAccountsOFC" value="1;67;143;539;533;94;578"/>
    <add key="ReportViewersOFC" value="1;67;456;533;539;456;143;94;42;150;35;24;74;165;73;75;45"/>
    <add key="TestingUsers" value=""/>
    <add key="AllowDisableNewTickets" value="false"/>
    <add key="DeleteTemporaryDocuments" value="false"/>
    <add key="CheckERMSBalance" value="false"/>
    <add key="SendRefundEmail" value="true"/>
    <add key="AllowDomainAccount" value="false"/>
    <add key="AccountDomainPrefix" value="CIPROZA"/>
    <add key="CreateRefundTicket" value="true"/>
    <add key="ReinstateFunds" value="true"/>
    <add key="RefundSubject" value="CIPC Customer Account Refund "/>
    <add key="OTPSubject" value="CIPC Customer Account OTP Confirmation "/>
    <add key="CBRSWarningMessage" value="CIPC now uses this option to request and process all finance refunds. Please NOTE that you are not obliged to complete this form if you do not require a refund. You will be required to provide supporting documents that prove legitimacy of the funds being requested for refund."/>
    <add key="CBRSCustomerDetailHeading" value="You are encouraged to use this process to request refunds as it is quicker to verify and process the transaction "/>
    <add key="CBRSBottomMessage" value="NOTE: Refunds requested via ticket creation will not be processed. Ticket creation under Finance department will be allowed for other finnce queries other than refund requests. "/>
    <add key="FinanceCBRSCAT_PKID" value="467"/>
    <add key="CBRSDefaultTicket" value="Refund request from my CIPC Account. Initial refund amount as displayed the system is "/>

    <add key="BillAPIUSR" value="DQXz1oCUWCX3WlnuODOjoA=="/>
    <add key="BillAPIPWD" value="QS1savJJAN1XckLBKXAS8TopMmJpAqo8cWKE7Sl8S2CsFzxtYNu3xUA8+6ozDa9u"/>
    
    <add key="ClosedStatusCodes" value="5,6,7,8"/>
    <add key="Timeout" value="240000"/>
    <add key="DefaultPasswordLength" value="6"/>
    <add key="GridSessionLength" value="30"/>
    <add key="GridReFetchLimit" value="100"/>
    <add key="BulkResponseLimit" value="100"/>
    <add key="RootPublicURL" value="https://testenquiries.cipc.co.za/"/>
    
    <add key="Subject" value="CIPC Help Desk"/>
   
    <add key="DefaultUserOffice" value="1"/>
    <add key="DefaultTitle" value="CIPC Online Query Management"/>
    <add key="OrganisationNameTop" value="CIPC"/>
    <add key="OrganisationName" value="CIPC"/>
    <add key="SystemTitle" value="Online Query Management"/>
    <add key="SloganText" value="the faster way to be heard"/>
    <add key="MainLogoPath" value="~/Images/logo2.png"/>
    <add key="MainLogoWidth" value="111"/>
    <add key="FixMainLogoWidth" value="false"/>
    <add key="MainLogoHeight" value="120"/>
    <add key="MobileLogoHeight" value="55"/>
    <add key="ShowFooterLine" value="true"/>
    <add key="AdminContact" value="+27123945037 or nthugwana@sword-sa.com"/>
    <add key="FooterLine" value="Companies and Intellectual Property Commission / &lt;a href='https://www.cipc.co.za/?page_id=11883' target='_blank'&gt;Terms and Conditions&lt;/a&gt; / &lt;a href='https://www.cipc.co.za/?page_id=10452' target='_blank'&gt; Disclaimer &lt;/a&gt;."/>
    <add key="ResolveTimeNotation" value="minutes"/>
    <add key="WaterMarkText" value="FOR OFFICE USE ONLY"/>
    <add key="docFooterLine1" value="ISO 9001: 2008 Certified"/>
    <add key="docFooterLine2" value="The dtiCampus (Block F - Entfutfukweni), 77 Meintjies Street, Sunnyside, Pretoria l P O Box 429, Pretoria, 0001"/>
    <add key="docFooterLine3" value="Tel: +27 12 394 9973 | Fax: +27 12 394 1015 | Call Centre: 086 100 2472"/>
    <add key="docFooterLine4" value="Website:www.cipc.co.za"/>
    <add key="ShowCopyrightLine" value="true"/>
    <add key="CopyrightLine1" value="Copyright © 2015 - "/>
    <add key="CopyrightLine2" value=" &lt;a href='https://billetteriesoftware.com/' target='_blank'&gt; Billetterie PSA&lt;/a&gt; is a &lt;a href='http://www.sword-sa.com/' target='_blank'&gt;Sword SA&lt;/a&gt; product."/>
    <add key="ShowAccountCreationLink" value="true"/>
    <add key="AccountCreationURL" value="http://eservices.cipc.co.za/Customer_register_id.aspx"/>
    <add key="MainCSSPath" value="~/Styles/officeStyleSheetCIPC.css"/>
    <add key="MainMobileCSSPath" value="~/Styles/mobileStyleSheetCIPC.css"/>
    <add key="MainThemeBackColor" value="#2E6373"/>
    <add key="ButtonBackColor" value="#2E6373"/>
    <add key="ButtonForeColor" value="white"/>
    <add key="GlobalMailWSURL" value="https://ipmanual.cipc.co.za/CommunicationServices/EmailService.asmx"/>
    <add key="GenerateCaseForm" value="false"/>
    <add key="UseInternalAccountLink" value="false"/>
    <add key="UseDefaultLabels" value="true"/>
    <add key="ExternalResetPassword" value="false"/>
    <add key="btnNewTicketText" value="New Ticket"/>
    <add key="btnNewOfficeTicketText" value="New Ticket"/>
    <add key="btnViewTicketsText" value="View Tickets"/>
    <add key="btnViewOfficeTicketsText" value="View Tickets"/>
    <add key="btnAdministrationText" value="Administration"/>
    <add key="btnReportsText" value="Reports"/>
    <add key="btnFAQAdminText" value="FAQs"/>
    <add key="btnFAQText" value="FAQs"/>
    <add key="btnMobileViewText" value="Mobile View"/>
    <add key="litCreateNewText" value="New Ticket"/>
    <add key="litViewTicketsText" value="View Tickets"/>
    <add key="displayCategoryToolTip" value="true"/>
    <add key="GetPtolemyUsers" value="false"/>
    <add key="GetERMSUsers" value="true"/>
    <add key="GetCUBAUsers" value="false"/>
    <add key="GetBilltterieOfficers" value="true"/>
    <add key="AutoAssignDueDate" value="true"/>
    <add key="AutoSynchUsers" value="true"/>
    <add key="MailNotifications" value="false"/>
    <add key="SendAutoAssignEmail" value="false"/>
    <add key="SendEmailOnDemand" value="false"/>
    <add key="LogSentEmails" value="true"/>
    <add key="RecordUserLogs" value="true"/>
    <add key="GetCalculatedDates" value="true"/>
    <add key="FindClientDetails" value="true"/>
    <add key="AddExternalUsers" value="false"/>
    <add key="ShowUserGroup" value="false"/>
    <add key="ShowFAQSideBar" value="true"/>
    <add key="DefaultToAdmin" value="false"/>
    <add key="DefaultHideAssigned" value="true"/>
    <add key="ShowPublicPasswordReset" value="false"/>
    <add key="UseActiveDirectory" value="true"/>
    <add key="PasswordResetCategory" value="349"/>
    <add key="ForceHTTPS" value="false"/>
    <add key="CallCenterPKID" value="272"/>
    <add key="TestParameters" value=""/>

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <applicationSettings>
    <NewBilletterie.Properties.Settings>
      <setting name="NewBilletterie_BilletterieAPIWS_BilletteriePrivateAPI"
        serializeAs="String">
        <value>https://ptolemytest.cipc.co.za/BilletteriePrivateWebAPI/BilletteriePrivateAPI.asmx</value>
      </setting>
      <setting name="NewBilletterie_GlobalMailWS_EmailService" serializeAs="String">
        <value>https://ipmanual.cipc.co.za/CommunicationServices/EmailService.asmx</value>
      </setting>
    </NewBilletterie.Properties.Settings>
  </applicationSettings>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
</configuration>