h1#SystemName {
    font-family: Arial Rounded MT Bold;
}
p#SystemSlogan {
    font-family: Arial Rounded MT Bold;
}
h1#SystemName {
    color: #00ff40;
}
p#SystemSlogan {
    color: #00ff40;
}
#header {
    background-color: #8000ff;
    background-image: none;
}
h1#SystemName {
    font-family: Arial Rounded MT Bold;
}
p#SystemSlogan {
    font-family: Arial Rounded MT Bold;
}
h1#SystemName {
    color: #00ff40;
}
p#SystemSlogan {
    color: #00ff40;
}
#header {
    background-color: #8000ff;
    background-image: none;
}
div.logo_Text {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
h1#SystemName {
    font-family: Arial Rounded MT Bold;
}
p#SystemSlogan {
    font-family: Arial Rounded MT Bold;
}
h1#SystemName {
    color: #00ff40;
}
p#SystemSlogan {
    color: #00ff40;
}
#header {
    background-color: #8000ff;
    background-image: none;
}
div.logo_Text {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
h1#SystemName {
    color: #3aa847;
}
p#SystemSlogan {
    color: #ffffff;
}
h1#SystemName {
    color: #3aa847;
}
p#SystemSlogan {
    color: #ffffff;
}
h1#SystemName {
    color: #3aa847;
}
p#SystemSlogan {
    color: #ffffff;
}
h1#SystemName {
    color: #3aa847;
}
p#SystemSlogan {
    color: #ffffff;
}
h1#SystemName {
    color: #ffffff;
}
p#SystemSlogan {
    color: #ffffff;
}
h1#SystemName {
    color: #3aa847;
}
p#SystemSlogan {
    color: #ffffff;
}
h1#SystemName {
    color: #3aa847;
}
p#SystemSlogan {
    color: #ffffff;
}
#header {
    background-color: transparent;
    background-image: url('../Images/cipc_logo.jpg');
}
h1#SystemName {
    color: #3aa847;
}
p#SystemSlogan {
    color: #ffffff;
}
#header {
    background-color: transparent;
    background-image: url('../Images/cipc_logo.jpg');
}
h1#SystemName {
    color: #3aa847;
}
p#SystemSlogan {
    color: #ffffff;
}
#header {
    background-color: transparent;
    background-image: url('../Images/cipc_logo.jpg');
}
h1#SystemName {
    color: #3aa847;
}
p#SystemSlogan {
    color: #ffffff;
}
#header {
    background-color: transparent;
    background-image: url('../Images/cipc_logo.jpg');
}
h1#SystemName {
    color: #3aa847;
}
p#SystemSlogan {
    color: #ffffff;
}
#header {
    background-color: transparent;
    background-image: url('../Images/cipc_logo.jpg');
}
